.status-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
  
  .status-dot {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .status-button.online .status-dot {
    background-color: #5dc460;
  }
  
  .status-button.offline .status-dot {
    background-color: gray;
  }
  
  .status-tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    display: none;
  }
  
  .status-button:hover .status-tooltip {
    display: block;
  }