
.containerMenu{
    /* width: 15%; */
    /* margin: 0;
    padding: 0; */
    height: 100vh;
    
    /* display: inline-block; */
}
.sidebar {
    position: relative;
    width: 250px;
    height: 100vh; /* Defina a altura como auto */
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    background-color: #fff;
    padding: 24px;
    transition: all 0.2s;
    z-index: 999;
    border-right: 1px solid #7575757a;
    flex: 1; /* A sidebar ocupa o espaço restante */
  }
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-img {
    max-width: 100%;
    height: auto;
  }

.menu .title{
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.nav{
    flex: 1;
}
.menu ul li{
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}
.menu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a{
    color: #000;
    background-color: #f6f6f6;
}
.menu ul li .icon{
    font-size: 20px;
}
.menu ul li .text{
    flex: 1;
}
.menu ul li .arrow{
    font-size: 14px;
    transition: all 0.3s;
}
.menu ul li.active .arrow{
    transform: rotate(180deg);
}
.menu .sub-menu{
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a{
    padding: 10px 8px;
    font-size: 12px;
}
.menu:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.menu-btn{
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

}
.menu-btn:hover {
    color: #000;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);

}
.menu-btn svg{
    margin: 0 auto;
}
.menu-btn{
    transition: all 0.3s;
}
.sidebar.active{
    width: 92px;
}
.sidebar.active .menu-btn{
    transform: rotate(180deg);
}

.sidebar.active .user-details{
    display: none;
}
.sidebar.active .menu .title{
    text-align: center;
}
.sidebar.active .menu ul li .arrow{
    display: none;
}
.sidebar.active .menu > ul > li > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.active .menu > ul > li > a .text{
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after{
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text{
    left: 50px;
    opacity: 1;
    visibility: visible;
}
.sidebar.active .menu .sub-menu{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.container-header{
    margin-left: 250px;

  }

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 8px;
    border-radius: .8em;
    background-color: #fff;
    transition: all 0.3s;
    position: relative; /* Adicionamos a posição relativa para que o balão seja posicionado corretamente */
  }
  
  /* Estilo para o ícone de busca */
  .search-icon {
    font-size: 20px;
    color: #757575;
    position: relative;
    cursor: pointer;
  }

   .search-icon:hover {
    color: #000;
  }
  
  /* Estilo para o input de busca */
  .search-input {
    display: block; /* Inicia oculto por padrão */
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }
  
  /* Estilo do input quando o menu estiver aberto */
  .sidebar.active .search-input {
    display: none; /* Exibe o input quando o menu estiver aberto */
  }
  
  /* Estilo do balão para o input quando o menu estiver fechado */
  .sidebar:not(.active) .search-container {
    padding: 0;
    background-color: transparent;
    border: 2px solid #f6f6f6;
  }
  
  /* Estilo do balão para o input quando o mouse estiver sobre ele */
  .sidebar.active .search-container:hover::before {
    content: "Buscar"; /* Texto a ser exibido no balão */
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  
  /* Exibir o balão quando o mouse estiver sobre o input */
  .sidebar.active .search-container:hover::before {
    opacity: 1;
    visibility: visible;
  }
  .user-profile{
    position: relative;
  }
